<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<div class="app_header">
  <h1>Exports V.2</h1>
  <i>All exports are sent to <%= Exporter::HOSTNAME %></i>
</div>

<div class="app_content">
<table>
  <thead>
    <tr>
      <th colspan="">Name</th>
      <th colspan="">Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_shop.exports.find_each do |export| %>
      <tr>
        <td><%= export.name %></td>
        <td><%= export.time %> everyday</td>
        <td><%= link_to 'Show', export %></td>
        <td><%= link_to 'Edit', edit_export_path(export) %></td>
        <td><%= link_to 'Destroy', export, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to "Configure New export", new_export_path %>|
<%= link_to "Trigger export", trigger_exports_path %>
